package $packageName;

@org.springframework.data.relational.core.mapping.Table("${tableMetaData.tableName}")
@lombok.Data
public class ${tableMetaData.entityName} {

#foreach( $column in ${tableMetaData.columns})
    #if(${column.primaryKey})
    @org.springframework.data.annotation.Id
    #end
    #if(${column.enumMetaData})
    private ${column.enumMetaData.enumName} ${column.lowerCamelCaseColumnName};
    #else
    private ${column.javaType} ${column.lowerCamelCaseColumnName};
    #end

#end
}