package $packageName;

@org.springframework.data.relational.core.mapping.Table("${tableMetaData.tableName}")
@lombok.Data
public class ${tableMetaData.entityName} {

#foreach( $columnMetaData in ${tableMetaData.columnMetaDataList})
    #if(${columnMetaData.primaryKey})
    @org.springframework.data.annotation.Id
    #end
    #if(${columnMetaData.enumMetaData})
    private ${columnMetaData.enumMetaData.enumName} ${columnMetaData.lowerCamelCaseColumnName};
    #else
    private ${columnMetaData.javaType} ${columnMetaData.lowerCamelCaseColumnName};
    #end

#end
}